/* this is mobile and tablet responsive design  */
@media only screen and (max-width: 576px) {
  .container {
    padding: 0px 24px;
  }
  .menuItems {
    display: none;
  }
  .header button {
    display: none;
  }
  .menuicon {
    display: block;
  }
  .herotextcontainer {
    padding: 32px 41px 0px;
  }
  .about br {
    display: none;
  }
  .about {
    padding: 0px 24px;
  }
  .about p {
    line-height: 25px;
    text-align: center;
  }
  .cardcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .headingabout {
    font-size: 32px;
  }
  .gridchild {
    align-items: center;
  }
  .gridcontainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "audio"
      "mobile"
      "global"
      "expensive"
      "rich";
  }
  .featurechildbaba {
    grid-template-columns: repeat(1, 1fr);
  }
  .featurechild iframe {
    height: 400px;
  }

  .featurechild {
    border-radius: 30px;
  }
  .featurechild p {
    text-align: left;
  }

  .alexheader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hostalex .alexheader .title h1,
  p {
    text-align: center;
  }
  .icon {
    justify-content: center;
  }

  .footerhead ul {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  .footerbox {
    background-size: 888px;
  }
}
/* this is tablet display  device responsive design  */
@media (min-width: 577px) and (max-width: 992px) {
  .container {
    padding: 0px 35px;
  }
  .cardcontainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .gridcontainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "audio mobile"
      "global expensive"
      "rich rich";
  }
  .featurechildbaba {
    grid-template-columns: repeat(2, 1fr);
  }
}
