* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background: #1a0b2e;
}
.header {
  background-color: #1a0b2e;
  color: white;
}
.container {
  max-width: 1200px;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.firstbuttton {
  padding: 10px 19px;
  border-radius: 20px;
  background: linear-gradient(to left bottom, #9100f8, #fb09b4, #f7e93f);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logoheader span {
 background-image: linear-gradient(16deg,rgb(224, 208, 30) 0%,rgb(207, 5, 147) 50%,rgb(131, 5, 221) 100%);
 color: transparent;
  background-clip: text;
}
.menuicon {
  display: none;
}

.herosection {
  background: url("../assets/hero-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  padding: 110px 0px;
  max-width: 100%;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imagecircle {
  background: url("../assets/hero-circle.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 22rem;
  background-size: contain;
  position: relative;
}
.herotextcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
  flex-direction: column;
  padding-top: 30px;
  color: white;
}
.herotextcontainer h1 {
  font-size: 60px;
  font-weight: bold;
}
.herotextcontainer p {
  color: rgb(122, 118, 118);
}
.btndiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.secoundbutton {
  background: transparent;
  color: rgb(29, 206, 29);
  outline: none;
  border: 1px solid rgb(29, 206, 29);
}
.new {
  position: absolute;
  background-color: rgb(61, 243, 61);
  padding: 5px 15px;
  color: black;
  border-radius: 20px;
  top: 20px;
  right: 30px;
  font-weight: bold;
}
.about{
  background-color:#1A0B2E;
  color: white;
  text-align: center;
  padding: 70px 0px;
}
.headingabout{
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 15px;
  color:white;
  text-align: center;

  
}
.aboutp{
  line-height: 35px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.692);
}
.about2p{
  line-height: 35px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.692);
  margin-top: 30px;
}

.hr{
  background-color: rgb(66, 56, 56);
height: 1px;
margin-top: 40px;
margin-bottom: 40px;
}
.cardcontainer{
display: flex;
justify-content: space-between;
margin-top: 80px;
}
.child{
  text-align: center;

}
.child h1{
color: #00FF88;
font-weight: 800;
font-size: 48px;
}
.child p{
  font-size: 16px;
  color: rgb(173, 159, 159);
  text-transform: uppercase;
}
.bigcontainer{
  background-color: #230E3D;
  padding: 80px 0px;

}
.gridcontainer{
   margin-top: 60px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 29px;
   grid-template-areas: 
   "audio mobile mobile"
   "audio global global"
   "expensive expensive rich";
}
.gridchild{
  background-color: #351165;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;
  text-align: left;
  border-radius: 30px;
  color: white;
  gap: 15px;
 
}
.gridchild h1{
  font-size: 25px;

}
.gridchild p{
  color: rgba(255, 255, 255, 0.637);
  line-height: 28px;
  font-size: 16px;
  
}
.gridchild1{
  grid-area: audio;
}
.gridchild2{
grid-area: mobile;
}

.gridchild3{
grid-area: global;
}
.gridchild4{
grid-area: expensive;
}
.gridchild5{
grid-area:rich;
}