* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background: #1a0b2e;
}
.header {
  background-color: #1a0b2e;
  color: white;
  border-bottom: 1px solid #8f8f91;
  padding: 15px 0px;
}
.container {
  max-width: 1200px;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.firstbuttton {
  padding: 10px 19px;
  border-radius: 20px;
  background: linear-gradient(to left bottom, #9100f8, #fb09b4, #f7e93f);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logoheader span {
  background-image: linear-gradient(
    16deg,
    rgb(224, 208, 30) 0%,
    rgb(207, 5, 147) 50%,
    rgb(131, 5, 221) 100%
  );
  color: transparent;
  background-clip: text;
}
.menuicon {
  display: none;
}

.herosection {
  background: url("../assets/hero-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  padding: 110px 0px;
  max-width: 100%;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imagecircle {
  background: url("../assets/hero-circle.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 22rem;
  background-size: contain;
  position: relative;
}
.herotextcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
  flex-direction: column;
  padding-top: 30px;
  color: white;
}
.herotextcontainer h1 {
  font-size: 60px;
  font-weight: bold;
}
.herotextcontainer p {
  color: #9895a7;
}
.btndiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.secoundbutton {
  background: transparent;
  color: rgb(29, 206, 29);
  outline: none;
  border: 1px solid rgb(29, 206, 29);
}
.new {
  position: absolute;
  background-color: rgb(61, 243, 61);
  padding: 5px 15px;
  color: black;
  border-radius: 20px;
  top: 20px;
  right: 30px;
  font-weight: bold;
}
.about {
  background-color: #1a0b2e;
  color: white;
  text-align: center;
  padding: 70px 0px;
}
.headingabout {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 15px;
  color: white;
  text-align: center;
}
.aboutp {
  line-height: 35px;
  font-size: 16px;
  color: #9895a7;
}
.about2p {
  line-height: 35px;
  font-size: 16px;
  color: #9895a7;
  margin-top: 30px;
}

.hr {
  background-color: rgb(66, 56, 56);
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.cardcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 80px;
}
.child {
  text-align: center;
}
.child h1 {
  color: #00ff88;
  font-weight: 800;
  font-size: 48px;
}
.child p {
  font-size: 16px;
  color: #9895a7;
  text-transform: uppercase;
}
.bigcontainer {
  background-color: #230e3d;
  padding: 80px 0px;
}
.gridcontainer {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px;
  grid-template-areas:
    "audio mobile mobile"
    "audio global global"
    "expensive expensive rich";
}
.gridchild {
  background-color: #351165;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  border-radius: 30px;
  color: white;
  gap: 15px;
}
.gridchild h1 {
  font-size: 25px;
}
.gridchild p {
  color: #9895a7;
  line-height: 28px;
  font-size: 16px;
}
.gridchild1 {
  grid-area: audio;
}
.gridchild2 {
  grid-area: mobile;
}

.gridchild3 {
  grid-area: global;
}
.gridchild4 {
  grid-area: expensive;
}
.gridchild5 {
  grid-area: rich;
}

.youtube {
  background-color: #1a0b2e;
  padding: 80px 0px;
}

.featuretitle {
  color: white;
  padding: 0px 20px 20px;
}
.featuretitle h2 {
  font-size: 25px;
  font-weight: 500;
  margin: 15px 0px;
}
.featuretitle p {
  color: #9895a7;
  margin: 15px 0px;
}
.featurechild {
  background-color: #250d44;
  border-radius: 30px 30px 0px 0px;
  overflow: hidden;
}
.featurechildbaba {
  display: flex;
  justify-content: space-between;
  gap: 23px;
}
iframe {
  width: 100%;
}

.alexheader {
  display: flex;
  align-items: center;
  gap: 26px;
  color: white;
  background-color: #351165;
  border-radius: 25px;
  padding: 35px;
}

.alexheader h1 {
  margin-bottom: 15px;
}
.alexheader p {
  color: #9895a7;
  font-size: 16px;
}

.hostalex {
  background-color: #1a0b2e;
  padding: 70px 0px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}
.icon {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.icon div {
  padding: 10px;
  border: 1px solid #ad9898;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerbox {
  background-image: url("../assets/footer-bg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px;
  background-position: center;
  max-width: 1600px;
  margin: 0px auto;
}
footer {
  background-color: #230e3e;
}
.footerhead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footerhead ul {
  display: grid;
  grid-template-columns: 25% 35% 20% 20%;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footerhead h1 {
  font-size: 70px;
  color: white;
}
.footerhead p {
  color: #9895a7;
  margin-top: 25px;
}
.footerhead ul a {
  color: #9895a7;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
